@model IdentityServer.Public.Account.ForgotPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="page-header">
    @if (Model.IsEmailSent != 2)
    {
        <h4>@Localizer["Forgot Password"]</h4>
        <p>@Localizer["We will send an email to confirm action reset password to your email."]</p>
    }
    else
    {
        <h2>@Localizer["Check your inbox"]</h2>
        <p>@Localizer["We just sent a link to reset your password via email to"] @ViewData["message"].</p>
    }
</div>
<div class="row">
    <div class="col-sm-12">
        @if (Model.IsEmailSent == 1)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["message"]
            </div>
        }
        <form asp-route="ForgotPassword">
            @if (Model.IsEmailSent != 2)
            {
                <fieldset>
                    <div class="form-group">
                        <label asp-for="Email">@Localizer["Email"]</label>
                        <input class="form-control" placeholder=@Localizer["Type your email"] asp-for="Email" autofocus>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-tripbricks" name="button" value="resetpass">@Localizer["Reset Password"]</button>
</div>
                </fieldset>
            }
            else
            {
                <br />
            }
            <div class="col-md-12">
                <div><center><a href="/account/login" class="text-tripbricks">@Localizer["You have an account? Login here!"]</a></center></div>
            </div>
            <div class="col-md-12">
                <div><center><a href="/account/register" class="text-tripbricks">@Localizer["Don't have an account yet? Create your account now!"]</a></center></div>
            </div>
            <br />
        </form>
    </div>

</div>