@model IdentityServer.Public.Account.ResetPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="page-header">

    @if (Model.ConfirmEmail == 1)
    {
    <h4>@Localizer["Reset Password"]</h4>
    }
</div>
<div class="row">
    <div class="col-sm-12">
        @if (Model.ConfirmEmail == 0)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["message"]
            </div>
        }
        else if (Model.ConfirmEmail == 2)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["message"]
            </div>
        }
        else if (Model.ConfirmEmail == 3)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["message"]
            </div>
        }
        <form asp-route="ForgotPassword">
            @if (Model.ConfirmEmail == 1)
            {
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Token" />
                <fieldset>
                    <div class="form-group">
                        <label asp-for="NewPassword">@Localizer["New Password"]</label>
                        <input type="password" class="form-control" placeholder="Type new password" asp-for="NewPassword" autofocus>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-tripbricks" name="button" value="resetpass">@Localizer["Reset Password"]</button>
                    </div>
                </fieldset>
            }
            else
            {
                <br /><br />
            }
            <div class="col-md-12">
                <div><center><a href="/account/login" class="text-tripbricks">@Localizer["You have an account? Login here!"]</a></center></div>
            </div>
            <div class="col-md-12">
                <div><center><a href="/account/signup" class="text-tripbricks">@Localizer["Don't have an account yet? Create your account now!"]</a></center></div>
            </div>
        </form>
    </div>

</div>