@model IdentityServer.Public.Account.UpdatePasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Update Password";
}

<div class="page-header">
    <h4>@Localizer["Change Password"]</h4><br />
</div>
<div class="row">
    <div class="col-sm-12">
        @if (Model.IsChangePass == 1)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["message"]
            </div>
        }
        else if (Model.IsChangePass == 2)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["message"]
            </div>
        }

        <form asp-route="UpdatePassword">
            <fieldset>
                <div class="form-group">
                    <label asp-for="CurrentPassword">@Localizer["Current password"]</label>
                    <input type="password" class="form-control" placeholder="*****" asp-for="CurrentPassword" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">@Localizer["New password"]</label>
                    <input type="password" class="form-control" placeholder="*****" asp-for="NewPassword" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword">@Localizer["Confirm new password"]</label>
                    <input type="password" class="form-control" placeholder="*****" asp-for="ConfirmNewPassword" autofocus>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-tripbricks" name="button" value="updatePass">@Localizer["Change Password"]</button>
                </div>
            </fieldset>
        </form>

    </div>
    <div>
        <span>
            <a asp-action="Index" asp-controller="Home">@Localizer["Go Home"]</a>
            <span> | </span>
            <a asp-action="Logout" asp-controller="Account">@Localizer["Logout"]</a>
        </span>
    </div>
</div>