@using IdentityServer4.Extensions
@model IdentityServer.Public.Home.ProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    //Layout = "~/Views/Shared/_Layout_Profile.cshtml";

    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

@if (@ViewData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["message"]
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="profile-picture">
            @if (string.IsNullOrEmpty(Model.Picture) || Model.Picture == string.Empty)
            {
                <img src="/img/avata-default.png" width="164" height="164" alt="@Model.GivenName" />
            }
            else
            {
                <img src="@Model.Picture" width="164" height="164" alt="@Model.GivenName" />
            }

            <br />
            <h4 class="profile-fullname">
                <span>@Model.FamilyName</span> <span>@Model.GivenName</span>
            </h4>
            <span class="profile-link">
                <a asp-action="UpdatePassword" asp-controller="Account">@Localizer["Change Password"]</a>
                <span> | </span>
                <a asp-action="Logout" asp-controller="Account">@Localizer["Logout"]</a>
            </span>
        </div>
        <br />
        <p><b>@Localizer["Email:"]</b> @Model.Email</p>
        <p><b>@Localizer["Gender:"]</b> @Model.Gender</p>
        <p><b>@Localizer["Birth day:"]</b> @Model.BirthDate</p>
        <p><b>@Localizer["Phone number:"]</b> @Model.PhoneNumber</p>
        <p><b>@Localizer["Address:"]</b> @Model.Address</p>
        @*<span class="profile-last-login">Last login: @Model.LastLogin</span>*@
        <br /><br />
    </div>
    <div>
        @*<span style="font-style: italic;">Logged at @Context.User?.GetAuthenticationTime().ToLocalTime()</span>*@
    </div>
</div>